.wp-block-mytheme-blocks-team-members {
    display: block;
    margin-left: 0px;
    margin-right: 0px;

    @for $i from 1 through 6 {
        &.has-#{$i}-columns {
            [data-type="mytheme-blocks/team-member"] {
                width: calc(100% /#{$i});
            }
        }
    }

    > .block-editor-inner-blocks > .block-editor-block-list__layout {
        display: flex;
        flex-wrap: wrap;

        .block-list-appender {
            width: 100%;
        }

        > [data-type="mytheme-blocks/team-member"] {
            margin-left: 0;
            margin-right: 0;
        }
    }

    .wp-block-mytheme-blocks-team-member {
        margin: 0px;
        width: auto !important;
    }
}
