.wp-block-mytheme-blocks-team-member {
    &__title {
        color: #222;
        font-size: 18px;
        font-size: bold;
        margin-bottom: 0;
    }
    &__info {
        color: #565656;
        font-weight: 300;
        margin-bottom: 5px;
    }
}
